@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --roxo-mais-escuro: #10002bff;
    --roxo-mais-escuro2: #240046ff;
    --roxo-mais-escuro3: #3c096cff;
    --roxo-mais-escuro4: #5a189aff;
    --roxo-mais-escuro5: #7b2cbfff;
    --roxo-mais-escuro6: #9d4eddff;
    --roxo-mais-escuro7: #c77dffff;
    --fonte-titulo: "Radio Canada Big", sans-serif;
    --fonte-texto: "Montserrat", sans-serif;
}

body{
    background-color: var(--roxo-mais-escuro7);
    color: var(--roxo-mais-escuro1)
}


.titulo-principal{
    font-family: var(--roxo-mais-escuro7);
}

